.FiltersBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.FiltersBar select {
  border: none;
  border-radius: 5px;
  width: 10%;
  margin-left: 2%;
  background-color: white;
}

.FiltersBar select:focus {
  outline: none;
}
