.PrintButton {
    background-color: #FE5F55 !important;
    width: 30%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding: 5px;
}

.PrintButton:hover {
    box-shadow: 2px 2px 2px #aaa;
    background-color: #00af54 !important;
}

.RecapTable th, td {
    border: 1px solid #AAAAAA;
}

.RecapTable {
    border-collapse: collapse;
    margin: 1%;
    width: 100%;
}

.Actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}
