.PrintButton {
    background-color: #FE5F55 !important;
}

.RecapTable th, td {
    border: 1px solid #AAAAAA;
}

.RecapTable {
    border-collapse: collapse;
    margin: 1%;
    width: 100%;
}

.Actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}
