.Cart {
    flex-grow: 8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2vmin;
    align-self: center;
}

.CartBox {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid antiquewhite;
    margin-right: 1%;
}

.CartBox:hover {
    cursor: pointer;
    background-color: #FC7A57;
    border: 1px solid #111111;
}

.Badge {
    border-radius: 50%;
    border: 1px solid white;
    margin: 10px;
}
