.CartView {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    height: inherit;
    max-height: 90vh;
    margin-top: 5%;
}

.CartView h2 {
    align-self: flex-start;
    font-weight: bold;
}

.Items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ItemQuantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.QuantityInput {
    width: 15%;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.QuantityInput:hover {
    box-shadow: 2px 2px 2px #AAA;
}

.RemoveItemButton {
    border: none;
    background-color: transparent;
    color: #bd3736;
    margin-left: 10%;
}

.RemoveItemButton:hover {
    box-shadow: 2px 2px 2px #AAA;
    border-radius: 25%;
}

.SubmitButton {
    border: none;
    background-color: #56CBF9;
    border-radius: 5px;
    padding: 20%;
    font-weight: bold;
    color: white;
}

.SubmitButton:hover {
    box-shadow: 2px 2px 2px #AAA;
    background-color: #00AF54;
}
