.Modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 70%;
  box-shadow: 10px 10px 10px #282c34;
  padding: 1%;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: antiquewhite !important;
}
