.Home {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  max-height: 60%;
}

.Description {
  font-family: Roboto, serif;
  font-weight: bold;
  font-size: xx-large;
  max-width: 50%;
  text-align: center;
  align-self: center;
}

.Image {
  align-self: center;
  height: 20%;
}

.Pokeball {
  height: 40%;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
